.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #e2c0a9;
  letter-spacing: 0.25rem;
}
